/*body {
  background-image: url('/src/beach.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}*/

<style>
#video {
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
     overflow: hidden;
}
</style>
