body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Raleway", sans-serif;
}

.main_content {
    padding-bottom: 60px;
}

.dud {
  color: #757575;
}

.orange {
    color: #f60;
}

/*footer*/
footer{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #2F3336;
    color: white;
}

.footer_copyright {
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
}

.footer_p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    font-size: min(2vw, 15px);
}